.result{
    color: white;
}
.main{
    margin-top: 15vh;
    border: 1px rgb(243, 243, 243) solid;
    display: flex;
    flex-direction: column;
    border-radius:13px ;
    background: rgb(238, 238, 238);
  }

.screen{
    
    margin-left: 10px;
    height: 150px;
    text-align: right;
    font-size: xx-large;
    border-radius: 13px;
    background: rgb(235, 235, 235);
    
}
button{
    display: inline-grid;
    padding: 10px;
    border-radius:15px !important;
  
  border: none;
  /* font-weight: bold; */
}
button:hover{
    cursor: pointer;
}
.operator{
    background-color: lightgreen;
    display: block;
}
.operation{
    background-color: lightblue;
}
.oper{
    font-weight: 700;
    background-color: #A4D8F5;
    color: #3094ce;
}
.equal{
    box-shadow: -5px -2px 10px 1px dodgerblue;
    display: block;
}
*{
    font-size: 99%;
}